@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";
@import "utils/global";
@import "modules/footer";
@import "modules/header";



// section purchase start
.purchase {
 padding-top: 110px;
}

.select {
 position: relative;
 background: #FFFFFF;
 max-width: 550px;
 width: 100%;
 border-radius: 5px;
 font-size: 24px;
 border: 1px solid #e5e4d7;

 &__header {
  cursor: pointer;
 }

 &__body {
  background-color: #fff;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
  justify-content: center;
 }

 &__item {
  cursor: pointer;
  width: 78px;
  padding: 15px 0 17px 0;
  border-top: 1px solid #F1F1F1;
  position: relative;

  span {
   position: absolute;
   background-image: url(/assets/img/icons/france.svg);
   width: 20px;
   height: 15px;
  }

  &.active {
  }
 }
}

.select.is-active .select__body {
 display: flex;
}


.select__item:hover {
 background-color: #f2f2f2;
}

// section purchase end