footer.footer
 .container--fluid-footer-top
  .container
   .footer__inner
    .footer__inner-items
     .footer__inner-item
      a(href="https://www.facebook.com/Poltoratski" target="_blank")
       img(src="assets/img/content/icons/fb.png" alt="")
       span blog
     .footer__inner-item
      a(href="https://twitter.com/pfx4g0eXH2tImsp" target="_blank")
       img(src="assets/img/content/icons/tw.png" alt="")
       span faq
     .footer__inner-item 
      a(href="https://www.instagram.com/poltoratski1/" target="_blank")
       img(src="assets/img/content/icons/insta.png" alt="")
       span legal
    .footer__inner-label
     span © 2018, Simpleat      
 .container--fluid-footer-bottom
  .container
   .footer__bottom
    .footer__bottom-contacts.footer__contacts
     .footer__contacts-phone
      a(href="tel:+123456789000") +123 456-789-000
      span Every day from 8 AM - 8 PM
     .footer__contacts-mail
      a(href="mailto:info@simleat.me") info@simleat.me
      span We will respond ASAP
    .footer__bottom-selectlang.footer__select  
     .footer__select-wrapper
      button.footer__select-btn.drop_btn
       span.current English
        img(src="assets/img/content/icons/eng-flag.png", alt="")
       p.select_img.arrow_img 
      .footer__select-content.main__content
       span.footer__select-btn English
        img(src="assets/img/content/icons/eng-flag.png", alt="")
       span.footer__select-btn France
        img(src="assets/img/content/icons/france-flag.svg", alt="")



