html {
 font-size: $mainFontSize;
 color: $mainFontColor;
 height: 100%;

}

body {
 margin: 0;
 padding: 0;
 @include m400;
 font-size: $mainFontSize;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;

 &.lock {
  overflow: hidden;
 }

 &.body-lock {
  overflow: hidden;
 }
}

*,
*:before,
*:after {
 box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 margin: 0;
}

i {
 font-style: normal;
}

a {
 text-decoration: none;
}

ul,
li {
 margin: 0;
 padding: 0;
 list-style-type: none;
}


.wrapper {
 display: flex;
 flex-direction: column;
 margin: 0 auto;
 min-height: 100vh;
}

.content-wrapper {
 display: flex;
 flex-direction: column;
 min-height: 100vh;
}

footer {
 @include m400;

 a {
  @include m400
 }
}


.container {
 width: 100%;
 flex: 0 0 auto;
 position: relative;
 margin: 0 auto;
 max-width: 1230px;
 padding: 0 30px;
}

.container--fluid,
.container--fluid-light,
.container--fluid-dark,
.container--fluid-footer-top,
.container--fluid-footer-bottom {
 width: 100%;
 margin: 0 auto;
 position: relative;
}

.container--fluid-light {
 background-color: #f0f6f4;
}

.container--fluid-dark {
 background-color: #36c1ba;
}

.container--fluid-footer-top {
 background-color: #192632;
}

.container--fluid-footer-bottom {
 background-color: $mainFontColor;
}


// global title
.main__inner-info {
 text-align: center;
 margin-bottom: 40px;
}

.title {
 @include b400;
 font-size: 60px;
 position: relative;
 margin-bottom: 30px;

 &::before {
  content: url(/assets/img/content/icons/underline.png);
  position: absolute;
  top: 45%;
  left: 50%;
  z-index: 2;
  width: 35px;
  height: 9px;
  transform: translate(-55%, -50%);
 }
}


// global subtitle text
.subtitle-text {
 color: #41474d;
 margin-bottom: 15px;
}


// animate btn
.btn {
 cursor: pointer;
 background-color: $green;
 @include m700;
 color: #fff;
 padding: 15px 20px;
 border-radius: 6px;
}

.btn--animate {
 position: relative;

 z-index: 1;

 &:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 6px;
  background-color: $turq;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
   inset -7px -7px 10px 0px rgba(0, 0, 0, .1),
   7px 7px 20px 0px rgba(0, 0, 0, .1),
   4px 4px 5px 0px rgba(0, 0, 0, .1);
  text-shadow: 0px 0px 6px rgba(255, 255, 255, .3),
   -4px -4px 6px rgba(116, 125, 136, .2);
  transition: all 0.3s ease;
 }

 &:hover {
  &::after {
   top: 0;
   height: 100%;
  }
 }

 &:active {
  top: 2px;
 }
}


// cookie popup
#cookie-popup-wrapper {
 background-color: #000;
 position: fixed;
 width: 100%;
 height: 100%;
 z-index: 200;
 opacity: .5;

 &.hidden {
  display: none;
 }
}

#cookie-popup {
 background-color: $mainFontColor;
 color: #fff;
 max-width: 660px;
 width: 100%;
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 border-radius: 10px;
 font-size: 14px;
 z-index: 999;
 display: flex;
 padding: 20px 30px 20px 60px;

 &.hidden {
  display: none;
 }

 p {
  position: relative;
  max-width: 425px;
  margin-right: 20px;

  &::before {
   content: url(/assets/img/content/icons/caution.png);
   position: absolute;
   width: 22px;
   height: 22px;
   left: -36px;
   top: 7px;
  }
 }

 a {
  color: #fff;
  @include m700;
  background-color: $green;
  height: 40px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: .4s;
  opacity: .9;

  &:hover {
   opacity: 1;
  }
 }
}


// video popup
.popup {
 position: fixed;
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.342);
 top: 0;
 left: 0;
 z-index: 101;
 opacity: 0;
 visibility: hidden;
 transition: all .5s ease 0s;

 &.open {
  opacity: 1;
  visibility: visible;
 }

 .popup__wrapper {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  position: relative;

  .popup__content-close {
   color: #000;
   position: absolute;
   right: 10px;
   top: 10px;
   font-size: 50px;
  }
 }

 .popup__content {
  color: #000;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1000px;

  &-video {
   max-width: 1000px;
   height: 500px;
   width: 100%;

   iframe {
    width: 100%;
    height: 100%;
   }
  }
 }
}