// Font
@mixin m400 {
 font-family: 'Montserrat';
 font-style: normal;
 font-weight: 400;
}

@mixin m700 {
 font-family: 'Montserrat';
 font-style: normal;
 font-weight: 700;
}

@mixin b400 {
 font-family: 'Bebas Neue';
 font-style: normal;
 font-weight: 400;
}

@mixin r400 {
 font-family: 'Raleway';
 font-style: normal;
 font-weight: 400;
}

// Size
$mainFontColor : #121920;
$mainFontSize : 16px;


// Main color
$text : #41474d;
$turq : #36c1ba;
$green : #78bc61