// header style

.header {
 position: fixed;
 width: 100%;
 left: 0;
 top: 0;
 z-index: 100;

 &__logo {
  transform: translate(-50%, -50%);
  left: 50%;
  position: absolute;

  img {
   height: 100%;
   width: auto;
  }
 }

 &__inner {
  display: flex;
  justify-content: space-between;
  height: 110px;
  align-items: center;

  a {
   @include m400;
   color: $mainFontColor;
  }

  .header__list {
   display: flex;
   padding-left: 30px;

   &-cart {
    .cart-link {
     margin-right: 25px;
     position: relative;

     &::before {
      content: url(/assets/img/content/icons/basket.png);
      position: absolute;
      left: -30px;
      top: -3px;
     }
    }
   }
  }

  .header__btn {
   display: flex;
   align-items: center;

   &-signin {
    margin-right: 30px;

    .signin-link {
     position: relative;

     &::before {
      content: url(/assets/img/content/icons/user.png);
      position: absolute;
      top: -2px;
      left: -22px;
     }
    }
   }


    .btn__order {
     position: relative;
     cursor: pointer;
     background-color: $green;
     color: #fff;
     padding: 15px 20px;
     border-radius: 6px;
     z-index: 1;

     &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      border-radius: 6px;
      background-color: $turq;
      background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
      box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
       inset -7px -7px 10px 0px rgba(0, 0, 0, .1),
       7px 7px 20px 0px rgba(0, 0, 0, .1),
       4px 4px 5px 0px rgba(0, 0, 0, .1);
      text-shadow: 0px 0px 6px rgba(255, 255, 255, .3),
       -4px -4px 6px rgba(116, 125, 136, .2);
      transition: all 0.3s ease;
     }

     &:hover {
      &::after {
       top: 0;
       height: 100%;
      }
     }

     &:active {
      top: 2px;
     }
    }

  }
 }
}