// header style

.header {
 position: fixed;
 width: 100%;
 left: 0;
 top: 0;
 z-index: 100;

 &__logo {
  transform: translate(-50%, -50%);
  left: 50%;
  position: absolute;

  img {
   height: 100%;
   width: auto;
  }
 }

 &__inner {
  display: flex;
  justify-content: space-between;
  height: 110px;
  align-items: center;

  a {
   @include m400;
   color: $mainFontColor;
  }

  .header__list {

   .header__list-wrapper {
    display: flex;
    padding-left: 30px;
   }

   &-cart {
    .cart-link {
     margin-right: 25px;
     position: relative;

     &::before {
      content: url(/assets/img/content/icons/basket.png);
      position: absolute;
      left: -30px;
      top: -3px;
     }
    }
   }
  }

  .header__btn {
   .header__btn-wrapper {
    display: flex;
    align-items: center;
   }

   &-signin {
    margin-right: 30px;

    .signin-link {
     position: relative;

     &::before {
      content: url(/assets/img/content/icons/user.png);
      position: absolute;
      top: -2px;
      left: -22px;
     }
    }
   }
  }
 }
}

.burger-menu {
 position: absolute;
 width: 40px;
 height: 30px;
 cursor: pointer;

 .burger {
  position: absolute;
  background: #000;
  width: 100%;
  height: 4px;
  top: 60%;
  right: 0px;
  margin-top: -5px;
  opacity: 1;
  transition: all .3s ease-in-out;

  &::before,
  &::after {
   content: "";
   position: absolute;
   display: block;
   background: #000;
   width: 40px;
   height: 4px;
   transition: all .3s ease-in-out;
  }

  &::before {
   top: 12px;
  }

  &::after {
   bottom: 12px;
  }
 }

 &.menu-on {
  .burger {
   background: rgba(0, 0, 0, 0);

   &::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    bottom: 0px;
   }

   &::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: 0px;
   }
  }
 }
}


// ------------------------header media

@media (max-width: 1000px) {
 .header__inner {
  height: 80px;
  z-index: 2;
 }
}

@media (max-width: 768px) {
 .header__inner {

  .burger-menu {
   display: block;
   left: 30px;
  }



  .header__list {
   position: fixed;
   left: -3000px;
   top: 0px;
   z-index: -1;
   transition: .4s;
   box-shadow: 3px 9px 9px -4px rgba(0, 0, 0, 0.24);
   flex-direction: column;
   background-color: #f0f6f4;
   padding: 110px 10px 30px 10px;
   height: 100%;
   display: flex;
   text-align: center;
   justify-content: space-between;

   .header__list-wrapper,
   .header__btn-wrapper {
    flex-direction: column;
    padding-left: 0;
    width: 100%;
   }

   .header__btn-wrapper {
    .header__btn-signin {
     margin-bottom: 30px;
    }

    .btn__order {
     padding: 15px 69px;
    }
   }

   .header__list-cart,
   .header__list-contact,
   .header__btn-signin {
    box-shadow: inset -1px 3px 8px 5px #f0f6f4, 2px 5px 16px 0px #9ca09f, 0px 0px 9px 0px rgba(0, 0, 0, 0);
    width: 100%;
    border-radius: 4px;
    padding: 10px 0 10px 0px;
    margin-bottom: 10px;
   }



   &.show {

    width: 250px;
    left: 0;

    opacity: 1;
   }
  }

  .header__btn-signin {
   margin-right: 0;
  }
 }
}

@media (max-width: 700px) {
 .header {
  &__inner {
   height: 50px;

   .header__list {
    padding: 80px 10px 30px 10px;
   }

   .burger-menu {
    position: absolute;
    width: 20px;
    height: 15px;
    cursor: pointer;
    left: 20px;

    .burger {
     position: absolute;
     background: #000;
     width: 100%;
     height: 2px;
     top: 84%;
     right: 0px;
     margin-top: -5px;
     opacity: 1;
     transition: all .3s ease-in-out;

     &::before,
     &::after {
      content: "";
      position: absolute;
      display: block;
      background: #000;
      width: 20px;
      height: 2px;
      transition: all .3s ease-in-out;
     }

     &::before {
      top: 6px;
     }

     &::after {
      bottom: 6px;
     }
    }

    &.menu-on {
     .burger {
      background: rgba(0, 0, 0, 0);

      &::after {
       transform: rotate(-45deg);
       -webkit-transform: rotate(-45deg);
       bottom: 0px;
      }

      &::before {
       transform: rotate(45deg);
       -webkit-transform: rotate(45deg);
       top: 0px;
      }
     }
    }
   }
  }

  &__logo {
   transform: translate(-50%, -50%);
   left: 50%;
   position: absolute;
   width: 50px;
  }
 }

}

@media (max-width: 500px) {}

@media (min-width: 768px) {
 .burger-menu {
  display: none;
  left: 30px;
 }
}