// header style

.header {
 position: fixed;
 width: 100%;
 left: 0;
 top: 0;
 z-index: 100;

 &__logo {
  transform: translate(-50%, -50%);
  left: 50%;
  position: absolute;

  img {
   height: 100%;
   width: auto;
  }
 }

 &__inner {
  display: flex;
  justify-content: space-between;
  height: 110px;
  align-items: center;

  a {
   @include m400;
   color: $mainFontColor;
  }

  .header__list {
   display: flex;
   padding-left: 30px;

   &-cart {
    .cart-link {
     margin-right: 25px;
     position: relative;

     &::before {
      content: url(/assets/img/content/icons/basket.png);
      position: absolute;
      left: -30px;
      top: -3px;
     }
    }
   }
  }

  .header__btn {
   display: flex;
   align-items: center;

   &-signin {
    margin-right: 30px;

    .signin-link {
     position: relative;

     &::before {
      content: url(/assets/img/content/icons/user.png);
      position: absolute;
      top: -2px;
      left: -22px;
     }
    }
   }
  }
 }
}